.headers {
    background: url('../images/1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  
  .col-50 {
    flex: 50%;
    padding: 0 16px;
  }
    
  .container-1 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    margin: 20px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  

  
  .btn {
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: rgb(45, 45, 45);
  }

  #delete {
    background-color: rgb(75, 75, 75);
    color: white;
    float: right; 
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    padding: 12px;
    margin-right: 9.8rem;
  }

  #delete:hover {
    background-color: rgb(45, 45, 45);
  }
  
  #all_select {
    float: left;
  }

  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  } 



  